# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class

# Celery
celerybeat*
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db
celerybeat-schedule.dir

# Virtual Environment
venv/
#env/
#.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
/logs
*.log 

# telegram
telegram_files/
